.Cart__Top {
  padding: 40px;
}

.Item {
  padding: 8px 24px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  transition: opacity 400ms;
  flex-direction: column;
}

.Item__Info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Item__Image {
  padding: 8px 24px 8px 0;
}

.Item__Details {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.Item__Title {
  display: block;
  font-weight: 600;
}

.Item__Remove {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.Item__Price {
  padding: 0 12px 0 0;
}

.Item__Price strong {
  font-size: 80%;
  padding-right: 2px;
}

.Item__ByLine {
  display: block;
}

.Item__Line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Cart__Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  width: 100%;
  align-self: flex-end;
}

.Cart__Subtotal {
  padding-right: 80px;
}

.Cart__SubtotalLabel {
  padding: 0;
}

.Cart__SubtotalValue strong {
  font-size: 80%;
  padding-right: 4px;
}

.Cart__Empty {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

@media screen and (min-width: 750px) {
  .Item {
    flex-direction: row;
  }

  .Item__Details {
    padding-left: 16px;
    flex-direction: row;
    align-items: center;
  }

  .Cart__Footer {
    justify-content: flex-end;
  }
}

.Cart {
  display: flex;
  flex-direction: column;
  padding: 120px 0;
  max-width: 1200px;
}
